{% extends '_base.html' %}
<!-- title tag -->
{% block title %} - tweet feeds {% endblock title %}
<!-- end of title -->
{% load static %}
<!-- feeds content -->
{% block content %}
<div class="feeds-content dark-mode-2">
  <div class="feeds-header dark-mode-1">
    <div class="header-top border">
      <h4 class="light-text">Home</h4>
      <i class="far fa-star"></i>
    </div>
    <form
      action="{% url 'tweets:new_tweet' %}"
      method="POST"
      class="header-post dark-mode-1 border"
      id="tweet-form"
    >
      {% csrf_token %}

      <div class="header-img-wrapper">
        <img src="{% static 'tweeter/images/user1.jpg' %}" />
      </div>

      <input type="hidden" name="next" value="/" />
      <input
        type="text"
        placeholder="What's happening?"
        class="dark-mode-2 light-text border"
        name="content"
        required
      />
      <i class="far fa-image"></i>
      <i class="fas fa-camera"></i>
      <button type="submit" class="submit-btn" title="tweet">
        <i class="fas fa-sign-in-alt"></i>
      </button>
    </form>
    <div class="d-none alert alert-danger" id="error"></div>
  </div>

  <div class="posts dark-mode-1" id="tweets"></div>

  {% include 'includes/_followsidebar.html' %}
</div>
<!-- end of feeds content -->

<!-- post modal -->
{% include 'includes/_modal.html' %}
<!-- end of post modal -->

<!-- sidebar -->
{% include 'includes/_sidebar.html' %}
<!-- end of sidebar -->

{% block scripts %}
<script></script>
{% endblock scripts %} {% endblock content %}
