<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweeter {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'tweeter/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'tweeter/css/main.css' %}" />
  </head>

  <body>
    <section class="feeds-page">
      {% include 'includes/_nav.html' %} {%block content%} {%endblock content%}
    </section>
    <script src="{% static 'tweeter/js/newsfeed.js' %}"></script>
  </body>
</html>
